.OrderCheckout {
    width: 50%;
    float: right;
    text-align: center;
    color: #c8c8c8;
}
.OrderType, .OrderFlavour {
    width: 50%;
    float: right;
    text-align: center;
    color: #c8c8c8;
}