.Product {
    width: 100%;
    margin: 0 auto 0 0;
    height: auto;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    float: left;
}


@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}


@media (min-width: 960px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}